
body {
    background-color: #F2F2B8;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: absolute;
    width: 800px;
    height: 600px;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
